# ide
/.idea

# dev
/samples
/debug

# composer
/vendor
/composer.lock

# phpunit
/tests/data/files*
/tests/data/4444
/tests/data/empty_file.txt
/reports
/.phpunit.result.cache

# docs
/docs/build
/docs/html
