<?xml version="1.0" encoding="utf-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/bootstrap.php"
         convertDeprecationsToExceptions="true"
         executionOrder="random"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">
    <testsuites>
        <testsuite name="fields">
            <directory>tests/fields</directory>
        </testsuite>
        <testsuite name="files">
            <directory>tests/files</directory>
        </testsuite>
        <testsuite name="info">
            <directory>tests/info</directory>
        </testsuite>
        <testsuite name="types">
            <directory>tests/types</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory>src</directory>
        </include>
    </coverage>
</phpunit>
